{{!-- Nuevo codigo de menjo de errores --}}
    <div id="product-list" class="d-flex flex-row flex-wrap">
    {{#each products }}
     <div class="card m-2 mb-10 p-5">
        <div class="card-body">
          <h2 class="card-title">{{this.name}}</h2>
          <p class="card-text">Categoría: {{category}}</p>
          <p class="card-text">Descripcion: {{description}}</p>
          <p class="card-text">Disponibilidad: {{availability}}</p>
          <p class="card-text">Precio: {{price}}</p>
          <button type="button" class="btn btn-secondary button-add-to-cart" class="{{user.user.user.cart}}" id="{{_id}}"> Agregar</button>
          <button type="button" class="btn btn-secondary view-details-button" id="{{_id}}"> Detalles </button> 
        </div>
      </div>
    {{/each}}
  </div>